  <!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mquare | School Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/admin_style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="css/custom_style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="css/data-table/bootstrap-editable.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="images/logo/logo.png" alt="" /></a>
                <strong><a href="index.html">
                    <img src="images/logo/logosn.png" class="" alt="" /></a></strong>
            </div>
            <div class="profile">
                <div class="center">
                    <a href="#"><img src="images/member/1.jpg" class="img-circle" alt=""></a>
                    <h2>Lakian <span class="min-dtn">Das</span></h2>
                </div>
                <div class="profile-social-dtl">
                    <ul class="dtl-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li><a href="company_dashboard.html">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>
                            Dashboard</a>
                        </li>
                        <li>
                            <a class="has-arrow" href="index.html">
                                <i class="fa fa-list-ul" aria-hidden="true"></i>
                                <span class="mini-click-non">Quate Management</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="received_quote" href="index.html"><span class="mini-sub-pro">Received Quote</span></a></li>
                                <li><a title="request_quote" href="index.html"><span class="mini-sub-pro">Request Quote</span></a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="has-arrow" href="index.html">
                               <i class="fa fa-database" aria-hidden="true"></i>
                               <span class="mini-click-non">Coin Management</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard v.1" href="index.html"><span class="mini-sub-pro">Coin List</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="index.html">
                                <i class="fa fa-th" aria-hidden="true"></i>
                                <span class="mini-click-non">Package Management</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard v.1" href="index.html"><span class="mini-sub-pro">Package List</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="index.html">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="mini-click-non">Project Management</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="project list" href="index.html"><span class="mini-sub-pro">Project List</span></a></li>
                                <li><a title="project list" href="index.html"><span class="mini-sub-pro">Add Project</span></a></li>
                            </ul>
                        </li>
                         <li>
                            <a class="has-arrow" href="index.html">
                                <i class="fa fa-th-large" aria-hidden="true"></i>
                                <span class="mini-click-non">Product Management</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="project list" href="index.html"><span class="mini-sub-pro">Product List</span></a></li>
                                <li><a title="project list" href="index.html"><span class="mini-sub-pro">Add Product</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="index.html">
                                <i class="fa fa-list" aria-hidden="true"></i>
                                <span class="mini-click-non">Service Management</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="service List" href="index.html"><span class="mini-sub-pro">Service List</span></a></li>
                                 <li><a title="service List" href="index.html"><span class="mini-sub-pro">Add Service</span></a></li>
                            </ul>
                        </li>
                        <li><a href="company_profile">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        Company Profile</a></li>

                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
     <!-- Start Welcome area -->
    <div class="all-content-wrapper ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="images/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-offset-7 col-md-offset-7 col-sm-offset-4 col-lg-5 col-md-5 col-sm-4 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                            <img src="images/member/1.jpg" alt="" />
                                                            <span class="admin-name">Lakian Das</span>
                                                            <i class="fa fa-angle-down"></i>
                                                        </a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>My Account</a>
                                                        </li>
                                                        <li><a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>My Profile</a>
                                                        </li>
                                                        <li><a href="#"><span class="edu-icon edu-money author-log-ic"></span>Change Password</a>
                                                        </li>
                                                        <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Go To Website</a>
                                                        </li>
                                                        <li><a href="#"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                               
                                            </ul>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a data-toggle="collapse" data-target="#Charts" href="#">Quote Management <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href="index.html">Received Quote</a></li>
                                                <li><a href="index-1.html">Request Quote</a></li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" href="#">Coin Management <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href="all-professors.html">Coin List</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demopro" href="#">Package Management<span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li><a href="all-students.html">Package List</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#democrou" href="#">Project Management <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="democrou" class="collapse dropdown-header-top">
                                                <li><a href="all-courses.html">Project  List</a>
                                                </li>
                                                <li><a href="add-course.html">Add Project</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demolibra" href="#">Service Management <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demolibra" class="collapse dropdown-header-top">
                                                <li><a href="library-assets.html">Service List</a>
                                                </li>
                                                <li><a href="add-library-assets.html">Add Service</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="company_profile">Company Profile</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            
        <!-- Single pro tab review Start-->
        <div class="content">
            <div class="container-fluid company_profile">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="card card-profile">
                                <div class="card-avatar">
                                  <a href="#">
                                    <img  class="img" src="images/company-logo/1.jpg" alt="" />
                                  </a>
                                </div>
                                <div class="card-body">
                                  <h4 class="card-title">Fly Zend</h4>
                                  <div class="card-description height">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Email </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> fly@gmail.com</span>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Phone </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> 01962067309</span>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Website </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> www.msquare.com</span>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Category </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> Service</span>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Active Package </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> gold</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Viewer Count </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> 20</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Business Hour </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> 8:00 AM ~ 5:00PM</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Total Coin </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> 1000</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Used Coin </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> 500</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Available Coin </b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> 500</span>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span><b>Address</b></span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                             <span> E104, catn-2, Chandlodia Ahmedabad Gujarat, UK.</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#"><i class="fa fa-facebook" style="font-size: 20px;"></i></a>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#"><i class="fa fa-twitter" style="font-size: 20px;"></i></a>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <a href="#"><i class="fa fa-google-plus" style="font-size: 20px;"></i></a>
                                        </div>
                                    </div>
                                    <center>
                                     <a href="javascript:;" class="btn btn-primary btn-round">Update</a>   
                                    </center>
                                  </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                  <h4 class="card-title ">Company Profile</h4>
                                  <p class="card-category"> Biography </p>
                                </div>
                                <div class="card-body">
                                   <div class="row">
                                       <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
                                           <h4>Vission</h4>
                                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                       </div>
                                   </div>
                                    <div class="row">
                                       <div class="col-lg-12 col-md-12 col-ms-12 col-xs-12">
                                           <h4>Description</h4>
                                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                           tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                           quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                           consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                           cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                           proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                       </div>
                                   </div>
                                   <div class="row">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                           <h4>Cover Photo</h4>
                                           <img src="images/coverphoto/heading-bg.jpg">
                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Static Table End -->
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Developed By <a href="https://findixmyanmar.com/">Findix Myanmar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script src="js/jquery-2.1.4.min.js"></script> 
    <script src="js/bootstrap.min.js"></script> 
    <!-- meanmenu JS
        ============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>  
    <script src="js/main.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="js/data-table/bootstrap-table.js"></script>
    <script src="js/data-table/bootstrap-editable.js"></script>

    <script src="js/data-table/tableExport.js"></script>
    <script src="js/data-table/bootstrap-table-resizable.js"></script>
    <script src="js/data-table/colResizable-1.5.source.js"></script>
    <script src="js/data-table/bootstrap-table-export.js"></script>

</body>

</html>